<div id="">
    <div id="about-content">
        <div class="about-header">
            Sobre <span class="color">mim</span>
            <span class="header-caption">Conheça - <span class="color">me.</span></span>
        </div>
        <div class="about-main">
            <div class="about-first-paragraph wow">
                <span class="about-first-line">
                    Sou um
                    <span class="color">desenvolvedor web</span>
                    criatrivo, entusiasta e apaixonado por tecnologia!</span>
                <br>
                <span class="about-second-line">Estudante de Análise e Desenvolvimento de Sistemas, 
                    com experiência em projetos práticos e uma base sólida nas principais tecnologias 
                    do mercado, como Angular. Experiência em desenvolver aplicações web modulares e intuitivas,
                    com uso de componentes dinâmicos e rotas para criar interfaces eficazes.</span>
                <div class="cv">
                    <a href="assets/img/curriculo.pdf" download="Curriculo_Fagner.pdf"><button>Download <span class="colors">CV</span></button></a>
                </div>
            </div>
            <div class="about-img">
                <img src="assets/img/foto2.png" alt="Your Image">
            </div>
        </div>
    </div>
</div>

<div id="services">
    <div class="services-heading wow">
        <span class="color"> Meus </span> Serviços
    </div>
    <div class="services-content">
        <div class="service-one service wow">
            <div class="service-img">
                <img src="assets/img/coding.png" alt="service-one">
            </div>
            <div class="service-description">
                <h2>Front-End</h2>
                <p>Responsável por transformar designer em interfaces de usuário funcionais e responsivas,
                    garantindo uma execelente experiência de usuário em diferentes dispositivos e navegadores. 
                </p>
            </div>
        </div>
        <div class="service-two service wow">
            <div class="service-img">
                <img src="assets/img/coding2.png" alt="service-two">
            </div>
            <div class="service-description">
                <h2>Back-End</h2>
                <p>Responsável por desenvolver a lógica do lado do servidor, garantindo a segurança,
                    desempenho e escalabilidade das aplicações. Realiza a integração com bancos de dados
                    e APIs.</p>
            </div>
        </div>
        <div class="service-three service wow">
            <div class="service-img">
                <img src="assets/img/bulb.png" alt="service-three">
            </div>
            <div class="service-description">
                <h2>Design Criativo</h2>
                <p>Transformar ideias em visuais impactantes e inovadores, unindo estética e funcionalidade 
                    para criar experiências visuais que valorizem a marca e envolvam o público.</p>
            </div>
        </div>
    </div>
</div>

<div id="skills">
    <div class="skills-header">
        Minhas <span class="color"> Habilidades </span>
    </div>
    <div class="skills-content " style="text-align: center;">
        <div class="skill-html skill">
            <div class="skill-text">
                <div class="html">
                    HTML/CSS
                </div>
            </div>
            <div class="html-prog wow prog">
                <div class="html-progress wow">85%</div>
            </div>
        </div>
        <div class="skill-html skill">
            <div class="skill-text">
                <div class="html">
                    Javascript
                </div>
            </div>
            <div class="html-prog wow prog">
                <div class="js-progress wow">70%</div>
            </div>
        </div>
        <div class="skill-html skill">
            <div class="skill-text">
                <div class="html">
                    Typescript
                </div>
            </div>
            <div class="html-prog wow prog">
                <div class="adobe-progress wow">70%</div>
            </div>
        </div>
        <div class="skill-html skill">
            <div class="skill-text">
                <div class="html">
                    Angular
                </div>
            </div>
            <div class="html-prog wow prog">
                <div class="php-progress wow">70%</div>
            </div>
        </div>
        <div class="skill-html skill">
            <div class="skill-text">
                <div class="html">
                    .Net
                </div>
            </div>
            <div class="html-prog wow prog">
                <div class="jquery-progress wow">20%</div>
            </div>
        </div>
        <div class="skill-html skill">
            <div class="skill-text">
                <div class="html">
                    SQL
                </div>
            </div>
            <div class="html-prog wow prog">
                <div class="seo-progress wow">30%</div>
            </div>
        </div>
    </div>
</div>