<section class="py-16 bg-white">
    <h2 class="text-3xl font-bold text-gray-800 text-center">About Me</h2>
    <p class="text-lg text-gray-600 mt-4 max-w-2xl mx-auto text-center">
      Sou estudante de Análise e Desenvolvimento de Sistemas e, ao longo do meu percurso, desenvolvi projetos práticos e participei de cursos que me deram uma base sólida nas principais tecnologias do mercado, incluindo Angular, Bootstrap e desenvolvimento de interfaces responsivas.
    </p>

    <div id="about">
      <div class="color-changer">
          <div class="color-panel">
              <img src="images/gear.png" alt="">
          </div>
      </div>
  </div>
  <div id="skills">
      <div class="skills-header">
          My <span class="color"> Skills</span>
      </div>
      <div class="skills-content " style="text-align: center;">
          <div class="skill-html skill">
              <div class="skill-text">
                  <div class="html">
                      HTML/CSS
                  </div>
              </div>
              <div class="html-prog wow prog">
                  <div class="html-progress wow">95%</div>
              </div>
          </div>
          <div class="skill-html skill">
              <div class="skill-text">
                  <div class="html">
                      Javascript
                  </div>
              </div>
              <div class="html-prog wow prog">
                  <div class="js-progress wow">90%</div>
              </div>
          </div>
          <div class="skill-html skill">
              <div class="skill-text">
                  <div class="html">
                      Adobe Ps
                  </div>
              </div>
              <div class="html-prog wow prog">
                  <div class="adobe-progress wow">83%</div>
              </div>
          </div>
          <div class="skill-html skill">
              <div class="skill-text">
                  <div class="html">
                      PHP
                  </div>
              </div>
              <div class="html-prog wow prog">
                  <div class="php-progress wow">87%</div>
              </div>
          </div>
          <div class="skill-html skill">
              <div class="skill-text">
                  <div class="html">
                      JQuery
                  </div>
              </div>
              <div class="html-prog wow prog">
                  <div class="jquery-progress wow">94%</div>
              </div>
          </div>
          <div class="skill-html skill">
              <div class="skill-text">
                  <div class="html">
                      SEO
                  </div>
              </div>
              <div class="html-prog wow prog">
                  <div class="seo-progress wow">84%</div>
              </div>
          </div>
      </div>
  </div>
</section>