<body>
    <div>
        <div class="portfolio-header"> <span class="color"> Meu </span> Projeto
            <span class="header-caption"> Alguns dos meus <span class="color"> trabalhos </span></span>
        </div>
        <div id="portfolio-content">
            <div class="portfolio portfolio-first">
                <div class="portfolio-image">
                    <img src="" alt="portfolio-first">
                </div>
                <div class="portfolio-text">
                    <h2>Em Desenvolvimento</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ut optio repellat cupiditate
                        expedita eius dignissimos. Id cumque placeat minima ad laudantium suscipit voluptatem ducimus
                    </p>
                    <div class="button"><a href="#"><button><span class="index"> Visualizar Projeto<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>
                    <div class="button"><a href="#"><button><span class="index"> Visualizar Github<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>
                </div>
            </div>
            <div class="portfolio portfolio-second">
                <div class="portfolio-image">
                    <img src="" alt="portfolio-second">
                </div>
                <div class="portfolio-text">
                    <h2>Em Desenvolvimento</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id cumque placeat minima ad laudantium
                        suscipit
                        voluptatem ducimus. Id cumque placeat minima ad laudantium suscipit voluptatem ducimus</p>
                    <div class="button"><a href="#"><button><span class="index"> Visualizar Projeto<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>
                    <div class="button"><a href="#"><button><span class="index"> Visualizar Github<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>
                </div>
            </div>

            <div class="portfolio portfolio-third">
                <div class="portfolio-image">
                    <img src="" alt="portfolio-third">
                </div>
                <div class="portfolio-text">
                    <h2>Em Desenvolvimento</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ut optio repellat cupiditate
                        expedita
                        eius dignissimos
                        .. Id cumque placeat minima ad laudantium suscipit voluptatem ducimus</p>
                    <div class="button"><a href="#"><button><span class="index"> Visualizar Projeto<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>
                    <div class="button"><a href="#"><button><span class="index"> Visualizar Github<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>

                </div>
            </div>
            <div class="portfolio portfolio-fourth">
                <div class=" portfolio-image">
                    <img src="" alt="portfolio-fourth">
                </div>
                <div class="portfolio-text">
                    <h2>Em Desenvolvimento</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ut optio repellat cupiditate
                        expedita eius dignissimos. Id cumque placeat minima ad laudantium suscipit voluptatem ducimus
                    </p>
                    <div class="button"><a href="#"><button><span class="index"> Visualizar Projeto<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>
                    <div class="button"><a href="#"><button><span class="index"> Visualizar Github<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>