#loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    z-index: 100;
    font-family: poppins;
    background-color: #202020;
    color: whitesmoke;
    font-size: 70px;
    width: 100%;
}

body {
    user-select: none;
    height: auto;
    overflow-x: hidden;
    width: 100%;
    background: #171717;
}

#header {
    background: #171717;
    height: 100vh;
    width: 100%;
    ;
    overflow: hidden;
    animation: scale 1.5s ease;
    position: relative;
    display: block;
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-position: 50% 50%;
    display: block;
}

.header-image img {
    height: 100vh;
    float: right;
}

.header-image {
    float: right;
    height: auto;
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 100vh;

}

.header-content {
    height: 100vh;
    width: 100%;
    float: left;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-family: raleway;
    font-weight: 400;
    letter-spacing: 1px;
    flex-direction: column;
    font-size: 50px;
    z-index: 1;
}

.header-content-box {
    z-index: 2;
    text-align: center;
    height: auto;
    padding-right: 60px;
    width: auto;

}

.header-content .firstline {
    z-index: 2;
    font-weight: 700;
    font-family: poppins;
    font-size: 65px;
}

.header-content .secondline {
    z-index: 2;
    font-size: 30px;
    padding-top: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255, .8);
}

.slash {
    animation-name: animateslash;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes animateslash {
    0% {
        opacity: 1;
        z-index: 2;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
}

@-webkit-keyframes animateslash {
    0% {
        opacity: 1;
        z-index: 2;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
}

#breaker {
    height: 100vh;
    width: 200%;
    background-color: #c70039;
    opacity: 1;
    animation: breakeranimate 2s linear;
    display: none;
    transition: all .4s ease;
    border-radius: 5px;
    z-index: 10;
    position: fixed;
}

@keyframes breakeranimate {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(0%)
    }

    100% {
        transform: translateX(100%)
    }
}

@-webkit-keyframes breakeranimate {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(0%)
    }

    100% {
        transform: translateX(100%)
    }
}

.color {
    color: #c70039;
    transition: all .4s ease;
}

.portfolio-header {
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-family: raleway;
    transition: all .4s ease;
    color: whitesmoke;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 60px;
    font-weight: 900;
}

.header-caption {
    opacity: .8;
    display: block;
    font-size: 20px;
    font-family: raleway;
    padding: 8px;
    padding-top: 15px;
    color: whitesmoke;
    font-weight: 400;
}

.portfolio {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5%;
    padding-right: 2%;
    padding-top: 50px;
    padding-bottom: 40px;
}

.portfolio-text {
    width: 40%;
    padding-left: 1%;
    margin: 1%;
    margin-left: -40px;
    margin-top: 160px;
    z-index: 3;
    opacity: 1;
    background: #080808;
    padding-top: 10px;
    padding-bottom: 10px;
}

.portfolio-text h2 {
    font-size: 35px;
    font-family: poppins;
    font-weight: 200;
    padding: 20px;
    color: #c70039;
    transition: all .4s ease;
}

.portfolio-text p {
    font-size: 16px;
    opacity: .8;
    font-family: poppins;
    font-weight: 200;
    padding: 20px;
}

.portfolio-text button {
    font-size: 16px;
    opacity: .8;
    font-family: poppins;
    font-weight: 200;
    padding: 10px 20px;
    background: transparent;
    color: #c70039;
    transition: all .4s ease;
    outline: none;
    margin: 20px;
    border: 1.5px solid #c70039;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all .4s ease;
}

.portfolio-text button::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 200%;
    transform: rotate(-15deg) translateY(-20px);
    top: 0;
    left: 0;
    z-index: 3;
    background: #c70039;
    transition: all .7s ease;
}

.portfolio-text button:hover {
    opacity: 1;
    color: whitesmoke;
}

button:hover .index {
    position: relative;
    z-index: 4;
}

.portfolio-text button:hover::before {
    opacity: 1;
    width: 120%;
}

.button {
    text-align: center;
}

.portfolio-image img {
    height: 400px;
    width: 100%;
    position: relative;
}

.portfolio-image {
    height: 400px;
    width: 40%;
}

.portfolio-image img::before {
    content: "";
    height: 100%;
    width: 100%;
    background: #c70039;
    opacity: .1;
    top: 0;
    left: 0;
    transition: all .4s ease;
    position: absolute;
    z-index: 2;
}

#portfolio-content {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#portfolio {
    display: none;
    height: auto;
    overflow-x: hidden;
    background-color: #101010;
    width: 100%;
    color: whitesmoke;
}

@media only screen and (max-width: 550px) {



    #breaker {
        height: 50vh;
        width: 200%;
        background-color: #c70039;
        opacity: 1;
        animation: breakeranimate 2s linear;
        display: none;
        transition: all .4s ease;
        z-index: 10;
        position: fixed;
    }

    @keyframes breakeranimate {
        0% {
            transform: translateX(-100%)
        }

        50% {
            transform: translateX(0%)
        }

        100% {
            transform: translateX(100%)
        }
    }

    @-webkit-keyframes breakeranimate {
        0% {
            transform: translateX(-100%)
        }

        50% {
            transform: translateX(0%)
        }

        100% {
            transform: translateX(100%)
        }
    }

    .portfolio {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5%;
        padding-right: 2%;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .portfolio-text {
        width: 90%;
        padding-left: 0%;
        margin: 0%;
        margin-left: 0px;
        margin-top: 0px;
        z-index: 1;
        background: #070707;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .portfolio-image {
        position: relative;
    }

    .portfolio-text h2 {
        font-size: 22px;
        font-family: poppins;
        font-weight: 200;
        padding: 10px;
    }

    .portfolio-text p {
        font-size: 15px;
        opacity: .8;
        font-family: poppins;
        font-weight: 200;
        padding: 15px;
    }


    .service:hover .service-img img {
        box-shadow: 0px 0px 0px 0px #c70039;
    }

    .portfolio-image img {
        height: 300px;
        width: 100%;
    }

    .portfolio-image {
        height: 300px;
        width: 90%;
    }

    @media all and (max-width: 9000px) and (min-width: 1441px) {

        .portfolio-image img {
            height: 500px;
            width: 100%;
            position: relative;
        }

        .portfolio-image {
            height: 500px;
            width: 40%;
        }
    }
}