<body>
    <div>
        <div class="portfolio-header"> <span class="color"> Meu </span> Projeto
            <span class="header-caption"> Alguns dos meus <span class="color"> trabalhos </span></span>
        </div>
        <div id="portfolio-content">
            <div class="portfolio portfolio-first">
                <div class="portfolio-image">
                    <img src="assets/img/ecommerce.png" alt="Ecommerce">
                </div>
                <div class="portfolio-text">
                    <h2>Ecommerce</h2>
                    <p class="text">E-commerce desenvolvido em Angular 13
                        Este projeto consiste em uma aplicação web de e-commerce desenvolvida utilizando Angular, com foco em desempenho, escalabilidade e experiência do usuário.
                    </p>
                    <div class="button"><a href="https://fagnerlisboa.github.io/project-ecommerce/"><button><span class="index"> Visualizar Projeto<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>
                    <div class="button"><a href="https://github.com/FagnerLisboa/project-ecommerce"><button><span class="index"> Visualizar Github<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>
                </div>
            </div>
            <div class="portfolio portfolio-second">
                <div class="portfolio-image">
                    <img src="assets/img/formulario.png" alt="portfolio-second">
                </div>
                <div class="portfolio-text">
                    <h2>Formulário de Cadastro</h2>
                    <p class="text">O projeto inclui validações rigorosas, seguindo princípios de orientação a objetos. Integra-se com uma API REST e um banco de dados, 
                        permitindo armazenamento seguro dos dados dos clientes.</p>
                    <div class="button"><a href="#"><button><span class="index"> Visualizar Projeto<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>
                    <div class="button"><a href="https://github.com/FagnerLisboa/custome-registration"><button><span class="index"> Visualizar Github<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>
                </div>
            </div>

            <div class="portfolio portfolio-third">
                <div class="portfolio-image">
                    <img src="assets/img/Tic-Tac-Toe2.png" alt="portfolio-third">
                </div>
                <div class="portfolio-text">
                    <h2>Jogo da Velha</h2>
                    <p class="text">Este projeto é uma implementação de um Jogo da Velha (Tic-Tac-Toe), onde você pode desafiar um bot inteligente que 
                        utiliza estratégias bem definidas para decidir suas jogadas. Simples, intuitivo e divertido!</p>
                    <div class="button"><a href="https://fagnerlisboa.github.io/jogo-da-velha/"><button><span class="index"> Visualizar Projeto<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>
                    <div class="button"><a href="https://github.com/FagnerLisboa/jogo-da-velha"><button><span class="index"> Visualizar Github<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>

                </div>
            </div>
            <div class="portfolio portfolio-fourth">
                <div class="portfolio-image">
                    <img src="assets/img/agência.png" alt="portfolio-fourth">
                </div>
                <div class="portfolio-text">
                    <h2>Landing Page - Agência</h2>
                    <p class="text">Este projeto consiste em uma landing page moderna e interativa desenvolvida para promover a "Agência XPTO", uma agência 
                        digital voltada para inovação, tecnologia e arte. O foco principal do projeto foi criar uma experiência visual e funcional.
                    </p>
                    <div class="button"><a href="https://fagnerlisboa.github.io/projeto-landing-page/"><button><span class="index"> Visualizar Projeto<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>
                    <div class="button"><a href="https://github.com/FagnerLisboa/projeto-landing-page"><button><span class="index"> Visualizar Github<i
                                        class="gg-arrow-right"></i></span></button></a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>