<div id="header">
    <div id="particles"></div>
    <div class="social-media-links">
        <a href="https://github.com/FagnerLisboa">
            <i class="fab fa-github fa-2x social-media"></i> 
        </a>
        <a href="https://www.linkedin.com/in/fagner-lisboa-dev">
            <i class="fab fa-linkedin fa-2x social-media"></i> 
        </a>
    </div>
    <div class="header-content">
        <div class="header-content-box">
            <div class="firstline"><span class="color">Fagner</span> Lisboa</div>
            <div class="secondline">
                <span class="txt-rotate color" [appTextRotate]="['Desenvolvedor.', 'Front-End.', '']"
                    [period]="1200"></span>
            </div>
        </div>
    </div>
    <div class="header-image">
        <img src="" alt="logo"> <!-- foto -->
    </div>
</div>