.letter {
    display: inline-block;
    opacity: 0;
    transform: translateX(20px); /* Inicia deslocada à direita */
    animation: fadeIn 0.5s forwards; /* Duração da animação e a aplicação dos estilos */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateX(0); /* Move para a posição original */
    }
  }
  