<div id="header">
    <div id="particles"></div>
    <div class="social-media-links">
        <a href="https://github.com/FagnerLisboa"><img src="assets/img/github logo.png" class="social-media"
                alt="instagram-logo"></a>
        <a href="https://www.linkedin.com/in/fagner-lisboa-dev"><img src="assets/img/linkedin logo.png"
                class="social-media" alt="linkedin-logo"></a>
    </div>
    <div class="header-content">
        <div class="header-content-box">
            <div class="firstline"><span class="color">Fagner</span> Lisboa</div>
            <div class="secondline">

                <span class="txt-rotate color" [appTextRotate]="['Desenvolvedor.', 'Front-End.', '']"
                    [period]="1200"></span>
            </div>
            <div class="contact">
                <a href="Mailto:fnlisboa@gmail.com"><img src="assets/img/gmail logo2.png" alt="email-pic"
                        class="contactpic"></a>
                <a href="Tel:11979531627"><img src="assets/img/WhatsApp logo.png" alt="phone-pic"
                        class="contactpic"></a>
            </div>
        </div>
    </div>
    <div class="header-image">
        <img src="" alt="logo"> <!-- foto -->
    </div>
</div>